.header {
	margin: 0 0 2rem;
	background-color: black;
}

a {
	font-family: sans-serif;
	text-decoration: none;
}

.title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5rem;
	padding: 1rem 0;
	color: #66ff66;
	display: inline-block;
}

.title-wrap {
	display: flex;
	justify-content: start;
}

/* Desktop breakpoint */
@media screen and (min-width: 1024px) {
}

/* Tablet breakpont */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile breakpoint */
@media screen and (max-width: 767px) {
	.title-wrap {
		justify-content: center;
	}

	.title {
		font-size: 1.2rem;
		padding: 0.7rem 0;
	}
}
